<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js">
</head>
<body bgcolor="cyan">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% block content %}

<h1>Helooos HELLO {{name}}</h1>

{% for movie in name %}
<p> {{ movie}} </p>
{% endfor %}


<form action="add" method="post">

    {% csrf_token %}
  Enter 1 number :<input type="text" name="num1"><br>
  Enter 2 number :<input type="text" name="num2"><br>
    <input type="submit">

</form>

{% endblock %}
</body>
</html>
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body class="bg-light">

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-md-2">

                <div class="card">
                    <div class="card-header shadow-sm bg-white">
                        <h1 class="display-5 text-info"><i class="fas fa-check-double"></i>  Explore</h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                               <form action="{% url 'insert_todo_item' %}" method="post" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="content">
                                        <div class="input-group-append text-info">
                                            <span class="input-group-text bg-white py-0">
                                                <button type="submit" class="btn btn-sm text-info">
                                                    <i class="fa fa-plus-circle fa-lg"></i>column 1
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                   <br><br>


                                </form>
                            </li>
                            {% for todo in todo_list %}
                            <li class="list-group-item">{{todo.eventlink}}</li>
                            <li class="list-group-item">{{todo.eventname}}</li>
                            <li class="list-group-item">{{todo.dates}}</li>
                            <li class="list-group-item">{{todo.wheree}}</li>
                            <li class="list-group-item">{{todo.whene}}</li>
                            <li class="list-group-item">{{todo.wheree}}</li>
                            <br><br>
                              <tr>
                               <td>{{todo.eventlink}}</td>
                               <td>Row 1, Column 2</td>
                              </tr>
                               <tr>
                               <td>{{todo.eventname}}</td>
                               <td>Row 2, Column 2</td></tr>

                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
      <table border = "1">
         <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
         </tr>
         <tr>
            <td rowspan = "2">Row 1 Cell 1</td>
            <td>Row 1 Cell 2</td>
            <td>Row 1 Cell 3</td>
         </tr>
         <tr>
            <td>Row 2 Cell 2</td>
            <td>Row 2 Cell 3</td>
         </tr>
         <tr>
            <td colspan = "3">Row 3 Cell 1</td>
         </tr>
      </table>

</body>

</html>